<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-btb-widget"
    version="1.1.0">

    <name>BTB Widget</name>
    <description>Native Android home-screen widget for the BTB Cordova application.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,widget,btb</keywords>

    <js-module src="www/BtbWidget.js" name="BtbWidget">
        <clobbers target="BtbWidget" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BtbWidget">
                <param name="android-package" value="com.btb.widget.BtbWidgetPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider
                android:name="com.btb.widget.BtbWidgetInitializer"
                android:authorities="${applicationId}.widget.initializer"
                android:exported="false"
                android:initOrder="100" />
            <receiver
                android:name="com.btb.widget.BtbWidgetProvider"
                android:enabled="true"
                android:exported="false"
                android:label="@string/btb_widget_name">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/btb_widget_info" />
            </receiver>
            <receiver
                android:name="com.btb.widget.BtbKpiWidgetProvider"
                android:enabled="true"
                android:exported="false"
                android:label="@string/btb_kpi_widget_name">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/btb_kpi_widget_info" />
            </receiver>
        </config-file>

        <source-file
            src="src/android/BtbWidgetPlugin.java"
            target-dir="src/com/btb/widget" />
        <source-file
            src="src/android/BtbWidgetProvider.java"
            target-dir="src/com/btb/widget" />
        <source-file
            src="src/android/BtbKpiWidgetProvider.java"
            target-dir="src/com/btb/widget" />
        <source-file
            src="src/android/BtbWidgetInitializer.java"
            target-dir="src/com/btb/widget" />
        <source-file
            src="src/android/BtbWidgetMessageReceiver.java"
            target-dir="src/com/btb/widget" />

        <resource-file
            src="src/android/res/layout/btb_widget.xml"
            target="res/layout/btb_widget.xml" />
        <resource-file
            src="src/android/res/layout/btb_kpi_widget.xml"
            target="res/layout/btb_kpi_widget.xml" />
        <resource-file
            src="src/android/res/xml/btb_widget_info.xml"
            target="res/xml/btb_widget_info.xml" />
        <resource-file
            src="src/android/res/xml/btb_kpi_widget_info.xml"
            target="res/xml/btb_kpi_widget_info.xml" />
        <resource-file
            src="src/android/res/drawable/btb_widget_background.xml"
            target="res/drawable/btb_widget_background.xml" />
        <resource-file
            src="src/android/res/drawable/btb_widget_primary_button.xml"
            target="res/drawable/btb_widget_primary_button.xml" />
        <resource-file
            src="src/android/res/drawable/btb_widget_secondary_button.xml"
            target="res/drawable/btb_widget_secondary_button.xml" />
        <resource-file
            src="src/android/res/values/btb_widget_resources.xml"
            target="res/values/btb_widget_resources.xml" />
    </platform>
</plugin>
